{% extends 'product/index.html.twig' %}

{% block content %}
   <siv class="col-md-12">
    <div class="ptb50 single-product">
        <img src="{{single_product.getImage()}}" alt="" />
          <div class="product-title ptb20">
            <h1>{{single_product.name}}</h1>
          </div>
          <div class="provider-details pb30">
            <h5><b>Provider is : </b><a href="{{url('provider_single',{'id':single_product.getProvider().getId()})}}">{{ single_product.getProvider().getName() }}</a></h5>
          </div>
          <div class="desc-sec">
            <h5>Find below the Platform it supported with its details : </h5>
          </div>
          
          <div class="row versions-product-sec ptb30">
           {% for software in single_product.getSoftware() %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-header">
                 <h4 class="card-title">
                    <b>Platform : </b>{{ software.getPlatform().getName() }}
                  </h4>
                </div>
                <div class="card-body">
                  <p class="card-text">{{single_product.description}}</p>
                  <h5>Version is <b>{{software.version|upper()}}</b></h5>
                  <h5>Price is <b>${{software.price}}</b></h5>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-large">Add to cart</a>
                </div>
              </div>
            </div>
           {% endfor %}
          </div>  
          <div>
          </div>        
      </div>
    </div>
    </div>
    <!-- /.row -->
{% endblock %}