{% extends 'layout.html.twig' %}

{% block content %}
 <div class="col-lg-12">
    <div class="row ptb50">
        <div class="card-body">
          <h1 class="card-title">
            {{single_provider.name}}
          </h1>
          <p class="card-text">{{single_provider.description}}</p>

          Platform Supported by this provider are : 
           <b>
           {% for provider in single_provider.getPlatform() %}
             {{provider.getName()}}

             {% if not loop.last %}, {% endif %}
           {% endfor %}
           </b>

           <h5 class="ptb30"> Bundles by <b>{{single_provider.name}}</b> </h5>
           <div class="row">
            {% if single_provider.getBundles() is empty %}
                <div class="col-md-12">
                  <em>No Bundles Found</em>
                </div>
            {% else %}
              {% for product in single_provider.getBundles() %}
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="{{url('bundle_single',{'id':product.id})}}"><img class="card-img-top" src="{{ absolute_url(asset('uploads/' ~ product.getImage())) }}" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="{{url('bundle_single',{'id':product.id})}}">{{product.name}}</a>
                      </h4>

                      {% if product_price %}
                         <h5><span class="currency_symbol">{{  symbol }}</span> <span id="product_{{product.id}}"> {{product_price[loop.index0].price|round(2)}}</span></h5>
                      {% else %}
                        <h5><span class="currency_symbol">{{  symbol }}</span> <span id="product_{{product.id}}"> {{product.price|round(2)}}</span></h5>
                      {% endif %}

                      <p class="card-text">{{product.description|slice(0, 150) ~ '...'}}</p>
                    </div>  
                    <div class="card-footer product-btn">
                        <a href="{{url('bundle_single',{'id':product.id})}}" class="btn btn-primary">Find out more</a>
                        <a href="{{url('bundle_single',{'id':product.id})}}" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>
              {% endfor %}               
            {% endif %}
           </div>
        </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-12 -->

{% endblock %}