{% extends 'layout.html.twig' %}

{% block content %}
 <div class="col-lg-12 ptb50">
    <h3 class="pb30"> {{title_sec2}} </h3>
    <div class="row">
    {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{{url('bundle_single',{'id':product.id})}}"><img class="card-img-top" src="{{ absolute_url(asset('uploads/' ~ product.getImage())) }}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url('bundle_single',{'id':product.id})}}">{{product.name}}</a>
            </h4>

            <h5><span class="currency_symbol"></span> <span id="product_{{product.id}}">{{product.price}}</span></h5>

            <p class="card-text">{{product.description|slice(0, 150) ~ '...'}}</p>

            <b> Provider : <a href="{{url('provider_single',{'id':product.getProvider.id})}}">{{product.getProvider().getName()}}</a></b>

            <b>Platform Supported : {{product.getPlatform().getName()}} </b>
          </div>
          <div class="card-footer product-btn">
              <a href="{{url('bundle_single',{'id':product.id})}}" class="btn btn-primary">Find out more</a>
              <a href="{{url('bundle_single',{'id':product.id})}}" class="btn btn-primary">Add to cart</a>
          </div>	
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}